<div fxFlexFill fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center">
  <div class="custom-image-card-holder" *ngFor="let card of cards">
    <button *ngIf="!card.deleting && isAdmin()" (click)="card.deleting=true" mat-raised-button color="warn" class="custom-image-card-delete">Delete</button>
    <button *ngIf="card.deleting" (click)="deleteCustomCard(card)" mat-raised-button color="warn" class="custom-image-card-delete">Confirm</button>
    <img (mouseleave)="card.deleting=false;" class="custom-image-card" src="{{card.image}}" alt="{{card.name}}" loading="lazy">
    <h3 class="custom-image-card-name">{{card.name}}</h3>
  </div>
</div>
