<div style="visibility: hidden; position: fixed"
     [style.left]="menuTopLeftPosition.x"
     [style.top]="menuTopLeftPosition.y"
     [matMenuTriggerFor]="rightMenu">
</div>

<mat-menu #rightMenu="matMenu">
  <div (click) = "$event.stopPropagation()">
    <ng-template matMenuContent>
      <div *ngIf="rightclicked_item.type && rightclicked_item.type === 'deck'">
        <div>
          <button mat-button (click)="drawCard(current_draw)">Draw</button>
          <input matInput type="number" style="width: 40px; margin: 2px; background: rgba(0,0,0,0); border: none; color: white" [(ngModel)]="current_draw">
        </div>
        <button mat-menu-item>Shuffle</button>
      </div>
      <div *ngIf="rightclicked_item.type && rightclicked_item.type === 'hand'">
        <button mat-menu-item>Send to Field</button>
        <button mat-menu-item>Send to Deck</button>
      </div>
    </ng-template>
  </div>
</mat-menu>

<div cdkDropListGroup fxFlexFill (contextmenu)="onRightClick($event, {type: 'none'})">
  <div class="container" fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="end center" fxFlex="100" style="margin: 10px;">
      <div class="opponent-holder" fxLayout="row" fxLayoutAlign="end center">
        <div class="opponent-playmat-holder" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center">
          <div *ngFor="let player of players">
            <div *ngIf="isOpponent(player)" class="playmat-opponent" [ngClass]="{'playmat-opponent-selected': player.selected}" fxLayout="row wrap" fxLayoutAlign="center center">
              <div *ngFor="let spot of reverse(user_playmat)" class="mtg-card-holder-opponent">
                <div *ngFor="let card of spot; let i = index">
                  <img
                    [ngClass]="
                {
                  'stack-1': i == 0,
                  'stack-2': i == 1,
                  'stack-3': i == 2
                }"
                    [@opponentTappedState]="card.tapped"
                    class="mtg-card-opponent"
                    src="{{card.image}}"
                    alt="{{card.name}}"
                    (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
        <div class="playmat-user" fxLayout="row wrap" fxLayoutAlign="start start">
          <div *ngFor="let spot of user_playmat"
               class="mtg-card-holder-user"
               (dblclick)="tapSpot(spot)"
               cdkDropList
               [cdkDropListData]="spot"
               (cdkDropListDropped)="moveCardToPlay($event)">
            <div *ngFor="let card of spot; let i = index">
              <img [ngClass]="{
              'stack-1': i == 0,
              'stack-2': i == 1,
              'stack-3': i == 2
            }"
                   [@userTappedState]="card.tapped"
                   class="mtg-card-user"
                   src="{{card.image}}"
                   alt="{{card.name}}"
                   (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null"
                   cdkDrag>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100"></div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
        <div class="user-hand"
             cdkDropList cdkDropListOrientation="horizontal" fxFlex="100"
             [cdkDropListData]="user.hand" (cdkDropListDropped)="moveCardToHand($event)" fxLayoutAlign="center">
          <img *ngFor="let card of user.hand"
               class="mtg-card-user"
               src="{{card.image}}" alt="{{card.name}}"
               (contextmenu)="onRightClick($event, {type: 'hand', data: card})"
               (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null"
               cdkDrag>
        </div>
      </div>
    </div>
  </div>
  <div class="user-deck"
       (dblclick)="drawCard(1);"
       (contextmenu)="onRightClick($event, {type: 'deck'})"
       cdkDropList [cdkDropListData]="user.deck"
       (cdkDropListDropped)="moveCardToDeck($event)">
    <img class="mtg-card-user" src="https://c1.scryfall.com/file/scryfall-card-backs/large/59/597b79b3-7d77-4261-871a-60dd17403388.jpg?1561757129" cdkDrag>
  </div>
  <div class="card-preview" *ngIf="hovered_card">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100">
        <img class="mtg-card-preview" src="{{hovered_card.image}}" alt="{{hovered_card.name}}">
        <h5 style="text-align: center">{{hovered_card.mana}}</h5>
        <h5 style="margin: 10px; white-space: pre-line">{{hovered_card.text}}</h5>
      </div>
    </div>
  </div>
  <div class="player-list">
    <mat-selection-list multiple="false" (selectionChange)="selectPlayer($event)">
      <div *ngFor="let player of players; let j = index">
        <mat-list-option [value]="player">
          <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
            <div fxLayout="column"><h1 style="margin-top: 15px;">{{player.name}}</h1></div>
            <div fxLayout="column"><h1 style="margin-top: 15px;">{{player.life}}</h1></div>
          </div>
        </mat-list-option>
        <mat-divider *ngIf="j != players.length - 1"></mat-divider>
      </div>
    </mat-selection-list>
  </div>
</div>

