<div class="container" fxLayout="row" fxLayoutAlign="center" fxFlex="100">
  <div fxLayout="column" fxLayoutAlign="end center" fxFlex="100" cdkDropListGroup>
    <div class="opponent-holder" fxLayout="row" fxLayoutAlign="center">
    <div class="opponent-playmat-holder" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center">
      <div *ngFor="let player of players">
        <div *ngIf="isOpponent(player)" class="playmat-opponent" fxLayout="row wrap" fxLayoutAlign="center center">
          <div *ngFor="let spot of reverse(user_playmat)" class="mtg-card-holder-opponent">
            <div *ngFor="let card of spot; let i = index">
              <img
                [ngClass]="
                {
                  'stack-1': i == 0,
                  'stack-2': i == 1,
                  'stack-3': i == 2
                }"
                [@opponentTappedState]="card.tapped"
                class="mtg-card-opponent"
                src="{{card.image}}"
                alt="{{card.name}}"
                (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">

      <div class="playmat-user" fxLayout="row wrap" fxLayoutAlign="start start">
        <div *ngFor="let spot of user_playmat"
             class="mtg-card-holder-user"
             (dblclick)="tapSpot(spot)"
             cdkDropList
             [cdkDropListData]="spot"
             (cdkDropListDropped)="moveCard($event)">
          <div *ngFor="let card of spot; let i = index">
            <img [ngClass]="{
              'stack-1': i == 0,
              'stack-2': i == 1,
              'stack-3': i == 2
            }"
                 [@userTappedState]="card.tapped"
                 class="mtg-card-user"
                 src="{{card.image}}"
                 alt="{{card.name}}"
                 (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null"
                 cdkDrag>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
      <div class="user-hand" cdkDropList cdkDropListOrientation="horizontal" fxFlex="100"
           [cdkDropListData]="user.hand" (cdkDropListDropped)="moveCard($event)" fxLayoutAlign="center">
        <img *ngFor="let card of user.hand" class="mtg-card-user" src="{{card.image}}" alt="{{card.name}}" cdkDrag (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
      </div>
    </div>
  </div>
</div>
