<div class="container" fxLayout="row" fxLayoutAlign="center" fxFlex="100"> <!-- Takes up the entire screen -->
  <div fxLayout="column" fxLayoutAlign="end center" fxFlex="100" cdkDropListGroup>
    <div class="opponent-holder" fxLayout="row" fxLayoutAlign="center">
      <div class="opponent-playmat-holder" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center">
        <div *ngFor="let player of players">
          <div *ngIf="isOpponent(player)" class="playmat-opponent" fxLayout="row wrap" fxLayoutAlign="center center">
            <div *ngFor="let spot of reverse(user_playmat)" class="mtg-card-holder-opponent">
              <div *ngFor="let card of spot; let i = index">
                <img *ngIf="i == 0" class="mtg-card-tiny mtg-card-opponent stack-1" src="{{card.image}}" alt="{{card.name}}" (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
                <img *ngIf="i == 1" class="mtg-card-tiny mtg-card-opponent stack-2" src="{{card.image}}" alt="{{card.name}}" (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
                <img *ngIf="i == 2" class="mtg-card-tiny mtg-card-opponent stack-3" src="{{card.image}}" alt="{{card.name}}" (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
        <div class="playmat" fxLayout="row wrap" fxLayoutAlign="center center">
          <div *ngFor="let spot of user_playmat" class="mtg-card-holder-user"
               cdkDropList [cdkDropListData]="spot" (cdkDropListDropped)="moveCard($event)">
            <div *ngFor="let card of spot; let i = index">
              <img *ngIf="i == 0" class="mtg-card-tiny stack-1" src="{{card.image}}" alt="{{card.name}}" cdkDrag (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
              <img *ngIf="i == 1" class="mtg-card-tiny stack-2" src="{{card.image}}" alt="{{card.name}}" cdkDrag (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
              <img *ngIf="i == 2" class="mtg-card-tiny stack-3" src="{{card.image}}" alt="{{card.name}}" cdkDrag (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
            </div>
          </div>
      </div>

    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
      <div class="user-hand" cdkDropList cdkDropListOrientation="horizontal" fxFlex="100"
      [cdkDropListData]="user_hand" (cdkDropListDropped)="moveCard($event)" fxLayoutAlign="center">
        <img *ngFor="let card of user_hand" class="mtg-card" src="{{card.image}}" alt="{{card.name}}" cdkDrag (pointerenter)="hovered_card=card" (pointerleave)="hovered_card=null">
      </div>
    </div>
  </div>
  <!--<div fxLayout="column" fxFlex="15">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
      <div fxLayout="column" fxLayoutAlign="start center" *ngIf="hovered_card">
        <img class="preview-card" src="{{hovered_card.image}}" alt="{{hovered_card.name}}">
        <h5 style="text-align: center">{{hovered_card.mana}}</h5>
        <p>{{hovered_card.text}}</p>
      </div>
    </div>
  </div>-->
</div>

