<div fxFlexFill fxLayout="column" style="padding: 20px">
  <div *ngIf="loading" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <div *ngIf="isAdmin()" fxLayout="row" fxLayoutAlign="space-between" style="margin: 0 20px 0 20px;">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
          <div fxLayout="column">
            <mat-form-field appearance="outline" style="margin: 10px 0 0 0; width: 400px">
              <mat-label>Ban Card</mat-label>
              <input type="text" placeholder="Ban Card" matInput [ngbTypeahead]="card_search" [(ngModel)]="new_ban_name" [editable]="false">
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <mat-form-field appearance="outline" style="margin: 10px 0 0 0; width: 200px">
              <mat-label>Type</mat-label>
              <mat-select [(value)]="new_ban_type">
                <mat-option *ngFor="let ban_type of types" value="{{ban_type.id}}">{{ban_type.type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="center">
            <button mat-raised-button style="height: 48px; margin: -10px 0 0 0;" (click)="submitBan()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="column" fxLayoutAlign="end">
        <mat-form-field appearance="outline" style="margin: 0 20px 0 20px; width: 400px">
          <mat-label>Search Card</mat-label>
          <input type="text" placeholder="Search Card" matInput [(ngModel)]="search_term" (ngModelChange)="updateVisibility()">
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="end">
        <div style="margin: 0 20px 0 20px">
          <button mat-button (click)="accordion.openAll()">Expand All</button>
          <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div *ngIf="noneVisible()" style="width: 100%; margin: 0 20px 0 20px">
        <h3>No card name containing '{{search_term}}' exists in the ban list.</h3>
      </div>
      <mat-accordion multi style="width: 100%; margin: 0 20px 0 20px">
        <div *ngFor="let ban_type of types">
          <mat-expansion-panel *ngIf="getVisible(ban_list[ban_type.id - 1]).length > 0" expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title style="text-transform: capitalize">{{ban_type.type}}</mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
              <div *ngFor="let card of getVisible(ban_list[ban_type.id - 1])">
                <div class="banlist-card-holder" *ngIf="card.visible">
                  <h2 class="banlist-card-name">{{card.name}}</h2>
                  <button *ngIf="!card.deleting && isAdmin()" (click)="card.deleting=true" mat-raised-button color="warn" class="banlist-card-delete-button">Delete</button>
                  <button *ngIf="card.deleting" mat-raised-button color="warn" class="banlist-card-delete-button" (click)="deleteBan(card)">Confirm</button>
                  <button *ngIf="isAdmin()" mat-raised-button color="primary" (click)="changeImage(card)" class="banlist-card-image-button">Image</button>
                  <img (mouseleave)="card.deleting=false;" class="banlist-card" src="{{card.image}}" alt="{{card.name}}" loading="lazy">
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
      <div fxLayout="column" style="margin: 20px 20px 0 20px; width: 400px">
        <h2>Recent Bans:</h2>
        <h4 *ngFor="let card of changelog">&emsp;'{{card.name}}' was {{getBanType(card.ban_type)}}</h4>
      </div>
    </div>
  </div>
</div>
