<div fxFlexFill fxLayout="row" fxLayoutAlign="center center" style="position: relative">
  <div style="position: absolute; top: 5px; right: 5px; cursor: pointer; width: 24px; height: 24px; z-index: 20">
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </div>
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="start center" style="height: 500px;">
    <div fxLayout="row">
      <h1>Select Token</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" style="max-height: 200px; overflow-y: scroll">
      <div *ngFor="let token of tokens">
        <img *ngIf="token.image != null"
             [src]="token.image" style="width: 150px; height: 210px; margin: 5px; cursor: pointer" (click)="selectToken(token)" loading="lazy">
      </div>
    </div>
  </div>
</div>
