<div fxFlexFill style="margin: 20px;" fxLayoutAlign="center center">
  <mat-card fxFlex="450px" fxLayout="column" fxLayoutAlign="center center">
    <h2 *ngIf="!isSuccessful">Change Password</h2>
    <div fxFlex="100">
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" fxLayout="column" fxLayoutAlign="center center" novalidate>
        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Old Password</mat-label>
          <input matInput [type]="hide_old_password ? 'password' : 'text'"
                 name="old_password" [(ngModel)]="form.old_password"
                 required #old_password="ngModel">
          <button type="button" mat-icon-button matSuffix (click)="hide_old_password = !hide_old_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_old_password">
            <mat-icon>{{hide_old_password ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="alert-danger" *ngIf="old_password.errors && f.submitted">
          <div *ngIf="old_password.errors['required']">Old password is required</div>
        </div>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>New Password</mat-label>
          <input matInput [type]="hide_password_1 ? 'password' : 'text'"
                 name="password" [(ngModel)]="form.password"
                 required minlength="6" #password="ngModel">
          <button type="button" mat-icon-button matSuffix (click)="hide_password_1 = !hide_password_1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password_1">
            <mat-icon>{{hide_password_1 ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Repeat Password</mat-label>
          <input matInput [type]="hide_repeat_password ? 'password' : 'text'"
                 name="repeat_password" [(ngModel)]="form.repeat_password"
                 required minlength="6" #repeat_password="ngModel" pattern="{{ password.value }}">
          <button type="button" mat-icon-button matSuffix (click)="hide_repeat_password = !hide_repeat_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_repeat_password">
            <mat-icon>{{hide_repeat_password ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="alert-danger" *ngIf="repeat_password.errors && f.submitted">
          <div *ngIf="repeat_password.errors['required']">Repeat password is required</div>
          <div *ngIf="repeat_password.errors['pattern']">Passwords do not match</div>
        </div>

        <div class="form-group" fxLayout="row" fxLayoutAlign="end end" fxFlexFill>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isChangeFailed">
          Password Change Failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div *ngIf="isSuccessful" style="width: 100%; text-align: center">
        <h2>
          Your password was changed successfully!
        </h2>
      </div>
    </div>
  </mat-card>
</div>
