<div fxLayout="column" fxFlexFill>
  <div *ngIf="loading" fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="margin: 20px;">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading && user" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" style="margin: 20px">
    <div *ngFor="let deck of decks" fxLayout="column" style="margin: 10px;">
      <div class="deck-manager-commander-viewer" matRipple [matRippleCentered]="false" [matRippleDisabled]="!deck.hovered">
        <div [ngClass]="{'deck-manager-background-card-closed': deck.hovered, 'deck-manager-background-card-open': !deck.hovered}">
          <div style="position: relative; width: 300px; height: 200px; clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);" >
            <img src="{{deck.image}}" alt="{{deck.name}}" class="deck-manager-commander-crop" loading="lazy">
          </div>
          <button class="deck-manager-commander-edit" mat-icon-button [routerLink]="['/decks', deck.id]"><mat-icon>edit</mat-icon></button>
        </div>
        <mat-card-content class="deck-manager-content">
          <div class="deck-manager-content-holder">
            <h2 *ngIf="deck.link != null && deck.link !== ''"><a href="{{deck.link}}" target="_blank">{{deck.name}}</a></h2>
            <h2 *ngIf="deck.link == null || deck.url === ''">{{deck.name}}</h2>
            <h4 *ngFor="let commander of deck.commander" class="deck-manager-commander-name">{{commander.name}}</h4>
            <div *ngIf="deck.colors && deck.colors != null" fxLayout="row" fxLayoutAlign="center" class="deck-manager-commander-colors">
              <img *ngIf="deck.colors.includes('W');" class="deck-manager-commander-color" src="assets/color_symbols/W.png" loading="lazy">
              <img *ngIf="deck.colors.includes('U');" class="deck-manager-commander-color" src="assets/color_symbols/U.png" loading="lazy">
              <img *ngIf="deck.colors.includes('B');" class="deck-manager-commander-color" src="assets/color_symbols/B.png" loading="lazy">
              <img *ngIf="deck.colors.includes('R');" class="deck-manager-commander-color" src="assets/color_symbols/R.png" loading="lazy">
              <img *ngIf="deck.colors.includes('G');" class="deck-manager-commander-color" src="assets/color_symbols/G.png" loading="lazy">
              <img *ngIf="deck.colors.length == 0" class="deck-manager-commander-color" src="assets/color_symbols/C.png" loading="lazy">
            </div>
            <div *ngIf="!deck.colors || deck.colors == null" fxLayout="row" fxLayoutAlign="center" class="deck-manager-commander-colors">
              <mat-spinner class="deck-manager-commander-color" [diameter]="16"></mat-spinner>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
    &nbsp;
  </div>

  <div *ngIf="!loading_others && !loaded_others" fxFlex="100" fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="getOthers()" style="max-height: 48px">Load Other Users</button>
  </div>
  <div *ngIf="loading_others" fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="margin: 20px;">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="loaded_others" style="margin: 20px;">
    <div *ngFor="let other_user of this.users" fxLayout="column">
      <div *ngIf="other_user.id !== user.id" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <h1>{{other_user.name}}</h1>
      </div>
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let deck of decks_others[other_user.id]" fxLayout="column" style="margin: 10px;">
          <div class="deck-manager-commander-viewer" matRipple [matRippleCentered]="false" [matRippleDisabled]="!deck.hovered">
            <div [ngClass]="{'deck-manager-background-card-closed': deck.hovered, 'deck-manager-background-card-open': !deck.hovered}">
              <div style="position: relative; width: 300px; height: 200px; clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);" >
                <img src="{{deck.image}}" alt="{{deck.name}}" class="deck-manager-commander-crop" loading="lazy">
              </div>
              <button class="deck-manager-commander-edit" mat-icon-button [routerLink]="['/decks', deck.id]"><mat-icon>visibility</mat-icon></button>
            </div>
            <mat-card-content class="deck-manager-content">
              <div class="deck-manager-content-holder">
                <h2 *ngIf="deck.link != null && deck.link !== ''"><a href="{{deck.link}}" target="_blank">{{deck.name}}</a></h2>
                <h2 *ngIf="deck.link == null || deck.url === ''">{{deck.name}}</h2>
                <h4 *ngFor="let commander of deck.commander" class="deck-manager-commander-name">{{commander.name}}</h4>
                <div *ngIf="deck.colors && deck.colors != null" fxLayout="row" fxLayoutAlign="center" class="deck-manager-commander-colors">
                  <img *ngIf="deck.colors.includes('W');" class="deck-manager-commander-color" src="assets/color_symbols/W.png" loading="lazy">
                  <img *ngIf="deck.colors.includes('U');" class="deck-manager-commander-color" src="assets/color_symbols/U.png" loading="lazy">
                  <img *ngIf="deck.colors.includes('B');" class="deck-manager-commander-color" src="assets/color_symbols/B.png" loading="lazy">
                  <img *ngIf="deck.colors.includes('R');" class="deck-manager-commander-color" src="assets/color_symbols/R.png" loading="lazy">
                  <img *ngIf="deck.colors.includes('G');" class="deck-manager-commander-color" src="assets/color_symbols/G.png" loading="lazy">
                  <img *ngIf="deck.colors.length == 0" class="deck-manager-commander-color" src="assets/color_symbols/C.png" loading="lazy">
                </div>
                <div *ngIf="!deck.colors || deck.colors == null" fxLayout="row" fxLayoutAlign="center" class="deck-manager-commander-colors">
                  <mat-spinner class="deck-manager-commander-color" [diameter]="16"></mat-spinner>
                </div>
              </div>
            </mat-card-content>
          </div>
        </div>
      </div>
      &nbsp;
    </div>
  </div>
</div>

