<div class="fddp-nav-button">
  <button mat-fab *ngIf="!root_sidenav.opened" (click)="root_sidenav.open()"><mat-icon>menu</mat-icon></button>
</div>

<mat-sidenav-container fxFlexFill style="position: fixed; top: 0; left: 0; z-index: 501">
  <mat-sidenav #root_sidenav (keydown.escape)="root_sidenav.close()" position="end">
    <mat-toolbar color="primary">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex>Elder Dragon fddp</h2>
        <button mat-icon-button (click)="root_sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <mat-nav-list *ngIf="loggedIn">
      <a mat-list-item [routerLink]="'/'">Dashboard</a>
      <a mat-list-item [routerLink]="'/profile'">Profile</a>
      <a mat-list-item [routerLink]="'/decks/-1'">Create Deck</a>
      <a mat-list-item [routerLink]="'/game'">Game</a>
      <a mat-list-item [routerLink]="'/bans'">Ban List</a>
      <a mat-list-item [routerLink]="'/custom'">Custom Cards</a>
      <a mat-list-item [routerLink]="'/upload'">Add Custom</a>
      <a mat-list-item (click)="signOut()">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
