<div class="fddp-nav-button">
  <button mat-fab color="primary" *ngIf="!root_sidenav.opened" (click)="root_sidenav.open()"><mat-icon style="transform: translateX(-10px)">keyboard_arrow_left</mat-icon></button>
</div>

<mat-sidenav-container fxFlexFill style="position: fixed; top: 0; left: 0; z-index: 501">
  <mat-sidenav #root_sidenav (keydown.escape)="root_sidenav.close()" position="end">
    <mat-toolbar color="primary">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex>Elder Dragon fddp</h2>
        <button mat-icon-button (click)="root_sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <mat-nav-list *ngIf="loggedIn">
      <a mat-list-item [routerLink]="'/'">Dashboard</a>
      <a mat-list-item [routerLink]="'/profile'">Profile</a>
      <a mat-list-item [routerLink]="'/decks/-1'">Create Deck</a>
      <a mat-list-item [routerLink]="'/generate'">Generator</a>
      <a mat-list-item [routerLink]="'/statistics'">Stats</a>
      <a mat-list-item [routerLink]="'/games'">Game</a>
      <a mat-list-item [routerLink]="'/history'">History</a>
      <a mat-list-item [routerLink]="'/bans'">Ban List</a>
      <a mat-list-item [routerLink]="'/custom'">Custom Cards</a>
      <a mat-list-item (click)="signOut()">Log Out</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!loggedIn">
      <a mat-list-item [routerLink]="'/login'">Log In</a>
      <a mat-list-item [routerLink]="'/register'">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<div class="mat-typography mat-app-background" style="height: 100%; width: 100%; min-height: 100vh; min-width: 100vw">
  <nav mat-tab-nav-bar style="width: 100%">
    <a mat-tab-link *ngFor="let tabItem of tabs" [routerLink]="tabItem.route" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" style="width: 100%">
      <mat-icon class="mr-8">{{tabItem.icon}}</mat-icon>
      {{tabItem.label}}
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>-->

