<div fxFlexFill style="margin: 20px;" fxLayoutAlign="center center">
  <mat-card fxFlex="800px" fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="100">
      <mat-form-field appearance="fill" style="margin-top: 10px;">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="card_type">
          <mat-option value="cards">Cards</mat-option>
          <mat-option value="tokens">Tokens</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="card_type === 'tokens'" appearance="fill" style="margin-top: 10px;">
        <mat-label>Name</mat-label>
        <input type="text" placeholder="Enter Card Name" matInput
               [(ngModel)]="name">
        <button type="button" mat-icon-button matSuffix (click)="openTokenDialog()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field *ngIf="card_type === 'tokens'" appearance="fill" style="margin-top: 10px;">
        <mat-label>Type Line</mat-label>
        <input matInput placeholder="'Token Creature - Bird'" [type]="'text'" [(ngModel)]="token_type">
      </mat-form-field>
      <div *ngIf="card_type === 'tokens'" fxLayout="row" fxLayoutAlign="space-between">
        <mat-checkbox [(ngModel)]="token_colors.w">W</mat-checkbox>
        <mat-checkbox [(ngModel)]="token_colors.u">U</mat-checkbox>
        <mat-checkbox [(ngModel)]="token_colors.b">B</mat-checkbox>
        <mat-checkbox [(ngModel)]="token_colors.r">R</mat-checkbox>
        <mat-checkbox [(ngModel)]="token_colors.g">G</mat-checkbox>
      </div>
      <mat-form-field *ngIf="card_type === 'tokens'" appearance="fill" style="margin-top: 10px;">
        <mat-label>Text</mat-label>
        <textarea matInput placeholder="'Flying'" [type]="'text'" [(ngModel)]="token_text"></textarea>
      </mat-form-field>
      <div *ngIf="card_type === 'tokens'" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex appearance="fill" style="margin-top: 10px;">
          <mat-label>Power</mat-label>
          <input matInput placeholder="Power" [type]="'text'" [(ngModel)]="token_power">
        </mat-form-field>
        <mat-form-field fxFlex appearance="fill" style="margin-top: 10px;">
          <mat-label>Toughness</mat-label>
          <input matInput placeholder="Toughness" [type]="'text'" [(ngModel)]="token_toughness">
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="card_type === 'cards'" appearance="fill" style="margin-top: 10px;">
        <mat-label>Add Card</mat-label>
        <input type="text" placeholder="Enter Card" matInput
               [ngbTypeahead]="card_search" [(ngModel)]="name" [editable]="false">
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin-top: 10px;">
        <mat-label>Google Drive Share Link Formatter (optional)</mat-label>
        <input matInput [type]="'text'" name="imageurl" [(ngModel)]="image_google" (ngModelChange)="formatLink('google')">
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin-top: 10px;">
        <mat-label>Custom Image Url</mat-label>
        <input matInput [type]="'text'" name="imageurl" [(ngModel)]="image" required minlength="1">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end">
        <button *ngIf="card_type==='cards'" mat-raised-button color="accent" (click)="createCustomCard()">Submit</button>
        <button *ngIf="card_type==='tokens'" mat-raised-button color="accent" (click)="createCustomToken()">Submit</button>
      </div>
    </div>
    <div fxLayout="column" fxFlex="254px">
      <h3 style="text-align: center">If image does not display below, it will not display in game! Try getting it from another source.</h3>
      <div fxLayout="row" fxFlex fxLayoutAlign="center">
        <div class="custom-images-card-preview">
          <img class="custom-images-card" src="{{image}}" alt="Cannot display card" loading="lazy">
        </div>
      </div>
    </div>
  </mat-card>
</div>
