<div fxFlexFill style="margin: 20px;" fxLayoutAlign="center center">
  <mat-card fxFlex="850px" fxLayout="column" fxLayoutAlign="center start">
    <div fxFlexFill fxLayout="row" fxLayoutGap="30px">
      <div fxLayout="column" fxFlex="100">
        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Username</mat-label>
          <input required matInput type="text" [(ngModel)]="user.username">
        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Display Name</mat-label>
          <input required matInput type="text" [(ngModel)]="user.name">
        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Playmat (1144x409)</mat-label>
          <input matInput type="text"
                 [(ngModel)]="user.playmat">
        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Default Sleeves</mat-label>
          <input matInput type="text"
                 [(ngModel)]="user.default_sleeves">
        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Theme</mat-label>
          <mat-select [(value)]="user.theme">
            <mat-option [value]="'dark'">Dark</mat-option>
            <mat-option [value]="'light'">Light</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="user.gridlines">Enable Gridlines</mat-slide-toggle>
        &nbsp;

        <div fxLayout="row" fxFlex fxLayoutAlign="space-between">
          <button mat-raised-button color="accent" [routerLink]="'/password'">Password</button>
          <button mat-raised-button color="primary" (click)="saveProfile()">Submit</button>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" fxFlexFill fxLayoutGap="20px">
        <div fxLayout="row" fxFlexFill>
          <img *ngIf="user.playmat !== ''" class="playmat-preview-image" src="{{user.playmat}}">
        </div>
        <div fxLayout="row" fxFlexFill>
          <img *ngIf="user.default_sleeves !== ''" class="deck-edit-preview" src="{{user.default_sleeves}}" loading="lazy">
          <img *ngIf="user.default_sleeves === ''" class="deck-edit-preview" src="https://drive.google.com/uc?export=view&id=1-Hp4xnjvn6EU-khUQEHn4R0T7n46Pt84" loading="lazy">
        </div>
      </div>
    </div>
  </mat-card>
</div>
