<div fxFlexFill style="margin: 20px;" fxLayoutAlign="center center">
  <mat-card fxFlex="450px" fxLayout="column" fxLayoutAlign="center center">
    <h2>{{user.name}}</h2>
    <div fxFlex="100">
      <div div fxLayout="column">
        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Username</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Display Name</mat-label>
          <input matInput type="text" [(ngModel)]="user.name">
        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Playmat</mat-label>
          <input matInput type="text"
                 [(ngModel)]="user.playmat">
        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="row" fxFlex>
          <mat-label>Theme</mat-label>
          <mat-select [value]="user.theme">
            <mat-option [value]="'dark'">Dark</mat-option>
            <mat-option [value]="'light'">Light</mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxFlex fxLayoutAlign="space-between">
          <button mat-raised-button color="accent">Password</button>
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>



