<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="margin: 20px">
    <div fxLayout="column" style="margin: 10px;">
      <mat-card class="game-manager-game-viewer">
        <mat-card-content class="game-manager-content" fxFlex fxLayout="column" fxLayoutAlign="center">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <h2>Create a Game:</h2>
              <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20">
                <mat-form-field fxFlex="50" appearance="fill">
                  <mat-label>Game Name</mat-label>
                  <input #game_name_input matInput placeholder="08805" value="08805">
                </mat-form-field>
                <mat-form-field fxFlex="20" appearance="fill">
                  <mat-label>Max Players</mat-label>
                  <input #max_player_input matInput type="number" value="5">
                </mat-form-field>
              </div>
              <div fxFlex fxLayout="row" fxLayoutAlign="center">
                <mat-form-field appearance="fill">
                  <mat-label>Game Type</mat-label>
                  <mat-select #game_type_input value="commander">
                    <mat-option value="commander">Commander</mat-option>
                    <mat-option value="twohead">Two-Headed Giant</mat-option>
                    <mat-option value="star">Star</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button (click)="createGame(game_name_input.value, max_player_input.value, game_type_input.value)" mat-raised-button color="primary" style="max-width: 80px">Create</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start" style="max-height: 128px;">
    <button mat-raised-button (click)="refresh()">Refresh</button>
  </div>
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="center start" style="margin: 20px; ">
    <div *ngFor="let game of games" fxLayout="column" style="margin: 10px;">
      <mat-card class="game-manager-game-viewer">
        <mat-card-content class="game-manager-content" fxFlex fxLayout="column" fxLayoutAlign="center">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <h2>{{game.name}}</h2>
              <h5>Running Time: 00:00</h5>
              <button mat-raised-button color="primary" style="max-width: 50px"
              [routerLink]="'/games/' + game.id">Join</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

