<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="margin: 20px">
    <div fxLayout="column" style="margin: 10px;">
      <mat-card class="game-manager-game-create">
        <mat-card-content class="game-manager-content" fxFlex fxLayout="column" fxLayoutAlign="center">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <h2>Create a Game:</h2>
              <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20">
                <mat-form-field fxFlex="50" appearance="fill">
                  <mat-label>Game Name</mat-label>
                  <input #game_name_input matInput placeholder="08805" value="08805">
                </mat-form-field>
                <mat-form-field fxFlex="20" appearance="fill">
                  <mat-label>{{game_test? 'Decks' :'Max Players'}}</mat-label>
                  <input #max_player_input matInput type="number" value="5" [disabled]="game_type_input.value == 3">
                </mat-form-field>
              </div>
              <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="fill">
                  <mat-label>Game Type</mat-label>
                  <mat-select #game_type_input value="1">
<!--                    <mat-option value="6">Deck Test</mat-option>-->
                    <mat-option value="1">Commander</mat-option>
                    <mat-option value="2">Two-Headed Giant</mat-option>
                    <mat-option value="3">Star</mat-option>
                    <mat-option value="4">Randomander</mat-option>
<!--                    <mat-option value="5">Fast Game!</mat-option>-->
                    <mat-option value="7">Randomander Regular</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="start">
                  <mat-slide-toggle [(ngModel)]="game_test" value="false"> Deck Test</mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="game_fast" value="false"> Fast Game</mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="game_keep_active" *ngIf="isAdmin()" value="false"> Keep Active</mat-slide-toggle>
                </div>
                <div fxLayout="column" fxLayoutAlign="start">
                  <mat-slide-toggle [(ngModel)]="game_random" value="false"> Random Decks</mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="game_expensive" value="false" [disabled]="!game_random"> Any Cost</mat-slide-toggle>
                  <mat-slide-toggle [(ngModel)]="game_planeschase" value="false"> Planeschase</mat-slide-toggle>
                </div>
              </div>
              &nbsp;
              <button mat-raised-button color="primary" style="max-width: 80px"
                (click)="createGame(game_name_input.value, max_player_input.value, game_type_input.value)"
                [disabled]="!allowCreate(game_type_input.value, max_player_input.value)">Create</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start" style="max-height: 128px;">
    <button mat-raised-button (click)="refresh()">Refresh</button>
  </div>
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="center start" style="margin: 20px; ">
    <div *ngFor="let game of games" fxLayout="column" style="margin: 10px;">
      <mat-card class="game-manager-game-viewer">
        <mat-card-content class="game-manager-content" fxFlex fxLayout="column" fxLayoutAlign="center">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <h2>{{game.name}}</h2>
              <h3>{{
                game.type == 1? 'Commander':
                  game.type == 2? 'Two Headed':
                    game.type == 3? 'Star':
                      game.type == 4? 'Randomander':
                        game.type == 7? 'Randomander Regular': ''}}
                <span *ngIf="game.test">(Deck Test)</span>
                <span *ngIf="game.fast">(Fast Game)</span></h3>
              <h5>Players: {{game.players.length}} of {{game.max_players}}</h5>
              <h5>Connected: {{game.connected.length}}</h5>
              <h5>Running Time: {{secondsToString(game)}}</h5>
              <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <button mat-raised-button color="primary" style="max-width: 50px"
                        [routerLink]="'/games/' + game.id">Join</button>
                <button *ngIf="isAdmin()" mat-raised-button color="warn" style="max-width: 50px" (click)="killGame(game.id)">Kill</button>
              </div>

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

