@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';

@include mat.core();

$fddp-a-dark: (
  50 : #e4f6ed,
  100 : #bbe8d3,
  200 : #8ed9b5,
  300 : #61ca97,
  400 : #3fbe81,
  500 : #1db36b,
  600 : #1aac63,
  700 : #15a358,
  800 : #119a4e,
  900 : #0a8b3c,
  A100 : #b9ffd1,
  A200 : #86ffaf,
  A400 : #53ff8d,
  A700 : #3aff7c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fddp-p-dark: (
  50 : #e0eff0,
  100 : #b3d6d9,
  200 : #80bbc0,
  300 : #4da0a6,
  400 : #268b93,
  500 : #007780,
  600 : #006f78,
  700 : #00646d,
  800 : #005a63,
  900 : #004750,
  A100 : #83eeff,
  A200 : #50e6ff,
  A400 : #1ddfff,
  A700 : #03dcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fddp-palette-primary-dark: mat.define-palette($fddp-p-dark);
$fddp-palette-accent-dark: mat.define-palette($fddp-a-dark);

$fddp-theme-dark: mat.define-dark-theme($fddp-palette-primary-dark, $fddp-palette-accent-dark);
