@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';

@include mat.core();

$fddp-a-dark: (
  50 : #f7e6e3,
  100 : #eabfb9,
  200 : #dc958b,
  300 : #ce6b5c,
  400 : #c44b39,
  500 : #b92b16,
  600 : #b22613,
  700 : #aa2010,
  800 : #a21a0c,
  900 : #931006,
  A100 : #ffc2bf,
  A200 : #ff918c,
  A400 : #ff6159,
  A700 : #ff4840,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$fddp-p-dark: (
  50 : #e0eff0,
  100 : #b3d6d9,
  200 : #80bbc0,
  300 : #4da0a6,
  400 : #268b93,
  500 : #007780,
  600 : #006f78,
  700 : #00646d,
  800 : #005a63,
  900 : #004750,
  A100 : #83eeff,
  A200 : #50e6ff,
  A400 : #1ddfff,
  A700 : #03dcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fddp-palette-primary-dark: mat.define-palette($fddp-p-dark);
$fddp-palette-accent-dark: mat.define-palette($fddp-a-dark);

$fddp-theme-dark: mat.define-dark-theme($fddp-palette-primary-dark, $fddp-palette-accent-dark);
