@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';

@include mat.core();

$fddp-p-light: (
  50 : #fcebe9,
  100 : #f7cdc7,
  200 : #f2aca2,
  300 : #ed8a7c,
  400 : #e97160,
  500 : #e55844,
  600 : #e2503e,
  700 : #de4735,
  800 : #da3d2d,
  900 : #d32d1f,
  A100 : #ffffff,
  A200 : #ffdad7,
  A400 : #ffaaa4,
  A700 : #ff928b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fddp-a-light: (
  50 : #ebfafb,
  100 : #cef3f6,
  200 : #adecf0,
  300 : #8ce4ea,
  400 : #73dee6,
  500 : #5ad8e1,
  600 : #52d4dd,
  700 : #48ced9,
  800 : #3fc8d5,
  900 : #2ebfcd,
  A100 : #ffffff,
  A200 : #dcfcff,
  A400 : #a9f7ff,
  A700 : #90f4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fddp-palette-primary-light: mat.define-palette($fddp-p-light);
$fddp-palette-accent-light: mat.define-palette($fddp-a-light);

$fddp-theme-light: mat.define-light-theme($fddp-palette-primary-light, $fddp-palette-accent-light);
