@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';

@include mat.core();

$fddp-a-light: (
  50 : #ecf9f3,
  100 : #d0efe0,
  200 : #b0e5cb,
  300 : #90dab6,
  400 : #79d2a7,
  500 : #61ca97,
  600 : #59c58f,
  700 : #4fbd84,
  800 : #45b77a,
  900 : #33ab69,
  A100 : #f3fff8,
  A200 : #c0ffdb,
  A400 : #8dffbe,
  A700 : #74ffaf,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fddp-p-light: (
  50 : #ebfafb,
  100 : #cef3f6,
  200 : #adecf0,
  300 : #8ce4ea,
  400 : #73dee6,
  500 : #5ad8e1,
  600 : #52d4dd,
  700 : #48ced9,
  800 : #3fc8d5,
  900 : #2ebfcd,
  A100 : #ffffff,
  A200 : #dcfcff,
  A400 : #a9f7ff,
  A700 : #90f4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$fddp-palette-primary-light: mat.define-palette($fddp-p-light);
$fddp-palette-accent-light: mat.define-palette($fddp-a-light);

$fddp-theme-light: mat.define-light-theme($fddp-palette-primary-light, $fddp-palette-accent-light);
