@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat.core();

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'src/dark-theme';
@import 'src/light-theme';

.dark-theme {
  @include mat.all-component-themes($fddp-theme-dark);

  .dropdown-menu {
    background-color: rgb(66, 66, 66) !important;
  }

  .dropdown-item {
    color: white;
  }

  .shadow-text {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: rgba(0, 0, 0, 0.40);
    padding: 0 5px 0 5px;
    border-radius: 30%;
    text-align: center;
  }

  .simple-a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

.light-theme {
  @include mat.all-component-themes($fddp-theme-light)
}

@include mat.all-component-themes($fddp-theme-dark);

/*
------------ Variables ------------
 */
$mtg-white: #aeaeae;
$mtg-blue: #0069c0;
$mtg-black: #373737;
$mtg-red: #ba000d;
$mtg-green: #087f23;

/*
------------ Universals ------------
 */

p, h1, h2, h3, h4, h5, h6 {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
}

.invert {
  rotate: 180deg;
}

.grayscale {
  filter: grayscale(100%);
}

/*
------------ User Playmat ------------
 */

//Player List And Log (Game Data)
.game-data-container {
  position: fixed;
  bottom: 215px;
  left: 10px;
  height: 409px;
  width: calc((100vw - (1284px + 50px)) / 2);
  z-index: 5;
  border-radius: 10px;
  pointer-events: all;
}

.game-data-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  border-radius: 10px;
  @include mat.elevation(3);
}

.game-data-wrapper .game-data-player-list-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(white, 0.05);
  border: solid 2px #666;
  z-index: 3;
}

.game-data-player-list-item {
  border-bottom: solid 2px #666;
  height: 50px;
  width: 100%
}

.game-data-wrapper .game-data-log-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background: rgba(black, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 2px #444;
  z-index: 3;
}

.game-data-log-list-item {
  border-bottom: solid 2px #444;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

//Outer Playmat Containers
.playmat-user-container {
  width: 100vw;
  height: 409px;
  position: fixed;
  bottom: 215px;
  left: 0;
}

.playmat-user-container-mini {
  width: 100vw;
  height: 214px;
  position: fixed;
  bottom: 105px;
  left: 0;
}

.playmat-user-wrapper {
  position: relative;
  width: 1284px;
  height: 409px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
}

.playmat-user-wrapper-mini {
  position: relative;
  width: 684px;
  height: 214px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
}

//Devotion data on the left of playmat
.playmat-user-devotion-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 409px;
  overflow: visible;
}

.playmat-user-devotion-container-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 214px;
  overflow: visible;
}

.playmat-user-teammate-actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 409px;
  overflow: visible;
}

.playmat-user-devotion-teammate-actions-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 214px;
  overflow: visible;
}

.playmat-user-devotion-wrapper {}

.playmat-user-devotion-wrapper .playmat-user-devotion-W {
  background: $mtg-white !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-U {
  background: $mtg-blue !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-B {
  background: $mtg-black !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-R {
  background: $mtg-red !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-G {
  background: $mtg-green !important;
}

.playmat-user-devotion-mini {
  max-width: 36px;
  max-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//User Playmat
.playmat-user {
  position: absolute;
  top: 0;
  left: 70px;
  width: 1144px;
  height: 409px;
  padding: 0 !important;
  margin: 4px 0 0 0;
  @include mat.elevation(5);
}

.playmat-user-mini {
  position: absolute;
  top: 0;
  left: 40px;
  width: 604px;
  height: 214px;
  padding: 0 !important;
  margin: 4px 0 0 0;
}

.playmat-user-background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 1144px;
  height: 409px;
  opacity: 0.7;
  pointer-events: none;
}

.playmat-user-background-image-mini {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 604px;
  height: 214px;
  opacity: 0.7;
  pointer-events: none;
}

.playmat-user-spot-container {
  position: relative;
  float: left;
  width: 95px;
  height: 135px;
  box-shadow:inset 0px 0px 0px 2px gray;
  margin: auto;
}

.playmat-user-spot-container-mini {
  position: relative;
  float: left;
  width: 50px;
  height: 70px;
  box-shadow:inset 0px 0px 0px 2px gray;
  margin: auto;
}

.playmat-user-card-container {
  position: relative;
  width: 75px;
  height: 105px;
  border-radius: 5px;
  margin: 0;
  background-color: mat.get-color-from-palette($fddp-palette-primary-dark, 200);
  @include mat.elevation(2);
}

.playmat-user-card-container-mini {
  position: relative;
  width: 40px;
  height: 56px;
  border-radius: 3px;
  margin: 0;
  background-color: mat.get-color-from-palette($fddp-palette-primary-dark, 200);
  @include mat.elevation(2);
}

.playmat-user-card-container .playmat-user-card-lock,
.playmat-user-card-container-mini .plamat-user-card-lock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.playmat-user-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 105px;
  border-radius: 5px;
}

.playmat-user-card-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 56px;
  border-radius: 3px;
}

.playmat-user-card-selected {
  clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
}

.playmat-user-card-container .playmat-user-card-counter {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playmat-user-card-container-mini .playmat-user-card-counter {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playmat-user-card-container .playmat-user-card-counter-1 {
  position: absolute;
  bottom: 20px;
  left: 7px;
}

.playmat-user-card-container-mini .playmat-user-card-counter-1 {
  position: absolute;
  bottom: 20px;
  left: 2px;
}

.playmat-user-card-container .playmat-user-card-counter-2 {
  position: absolute;
  bottom: 20px;
  right: 7px;
}

.playmat-user-card-container-mini .playmat-user-card-counter-2 {
  position: absolute;
  bottom: 20px;
  right: 2px;
}

.playmat-user-card-container .playmat-user-card-counter-3 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.playmat-user-card-container-mini .playmat-user-card-counter-3 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.playmat-user-card-container .playmat-user-card-multiplier {
  position: absolute;
  top: -10px;
  right: -10px;
}

.playmat-user-card-container-mini .playmat-user-card-multiplier {
  position: absolute;
  top: -10px;
  right: -10px;
}

.playmat-user-card-container .playmat-user-card-pow-tough {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin: 0;
}

.playmat-user-card-modifier-up {
  color: $mtg-green;
}
.playmat-user-card-modifier-down {
  color: $mtg-red;
}

.zone-card-image {
  width: 75px;
  height: 105px;
  border-radius: 5px;
}

.zone-card-image-mini {
  width: 40px;
  height: 56px;
  border-radius: 3px;
}

//User Deck
.deck-user-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 105px;
  width: 75px;
}

.deck-user-container-mini {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 56px;
  width: 40px;
}

.deck-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  @include mat.elevation(5);
}

.deck-user-wrapper .deck-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 2;
  margin-bottom: 0;
  pointer-events: none;
}

.deck-user-wrapper .deck-owner-text {
  position: absolute;
  top: 2px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

//User Grave
.grave-user-container {
  position: fixed;
  bottom: 10px;
  right: 95px;
  height: 105px;
  width: 75px;
}

.grave-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
}

//User Exile
.exile-user-container {
  position: fixed;
  bottom: 10px;
  right: 180px;
  height: 105px;
  width: 75px;
}

.exile-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
}

//User Temp Zone
.temp-zone-user-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 105px;
  width: 75px;
}

.temp-zone-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
}

//User Command Zone
.commander-user-container {
  position: fixed;
  bottom: 10px;
  right: 265px;
  height: 105px;
  width: 75px;
}

.commander-user-container-mini {
  position: fixed;
  bottom: 5px;
  left: 5px;
  height: 56px;
  width: 40px;
}

.commander-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
}

.commander-user-wrapper .command-tax-button-1 {
  position: absolute;
  bottom: -9px;
  left: -9px;
  transform: scale(0.6) !important;
  z-index: 3;
  pointer-events: all;
}

.commander-user-wrapper .command-tax-button-1-mini {
  position: absolute;
  top: -50px;
  left: -15px;
  transform: scale(0.6) !important;
  z-index: 3;
  pointer-events: all;
}

.commander-user-wrapper .command-tax-button-2 {
  position: absolute;
  bottom: -9px;
  right: -9px;
  transform: scale(0.6) !important;
  z-index: 3;
  pointer-events: all;
}
.commander-user-wrapper .command-tax-button-2-mini {
  position: absolute;
  top: -50px;
  right: -40px;
  transform: scale(0.6) !important;
  z-index: 3;
  pointer-events: all;
}

//User Hand
.hand-user-container {
  width: 100vw;
  height: 105px;
  position: fixed;
  bottom: 10px;
  left: 0;
}

.hand-user-container-mini {
  width: 100vw;
  height: 56px;
  position: fixed;
  bottom: 5px;
  left: 0;
}

.hand-user-wrapper {
  position: relative;
  width: 1144px;
  height: 105px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
}

.hand-user-wrapper-mini {
  position: relative;
  width: calc(100vw - 100px);
  height: 56px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
}

.hand-user-wrapper .hand-quantity-text, .hand-user-wrapper-mini .hand-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 3;
  margin-bottom: 0;
  pointer-events: none;
}

.hand-user-wrapper .hand-menu {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-user-droplist-wrapper {
  position: relative;
  min-width: 75px;
  height: 105px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
}

.hand-user-droplist-wrapper-mini {
  position: relative;
  min-width: 40px;
  height: 56px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
}
