@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat.core();

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'src/dark-theme';
@import 'src/light-theme';

.dark-theme {
  @include mat.all-component-themes($fddp-theme-dark);

  .dropdown-menu {
    background-color: rgb(66, 66, 66) !important;
  }

  .dropdown-item {
    color: white;
  }

  .shadow-text {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: rgba(0, 0, 0, 0.40);
    padding: 0 5px 0 5px;
    border-radius: 30%;
    text-align: center;
  }

  .shadow-text-darker {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: rgba(0, 0, 0, 0.80);
    padding: 0 5px 0 5px;
    border-radius: 30%;
    text-align: center;
  }

  .shadow-text-no-border {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: rgba(0, 0, 0, 0.40);
    padding: 0 5px 0 5px;
    text-align: center;
  }

  .simple-a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .deck-manager-commander-viewer {
    background: #333;
  }

  .game-data-wrapper .game-data-player-list-container {
    background: rgba(white, 0.05);
  }

  .game-data-wrapper .game-data-log-container {
    background: rgba(black, 0.2);
  }
}

.light-theme {
  @include mat.all-component-themes($fddp-theme-light);

  .shadow-text {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background: rgba(150, 150, 150, 0.40);
    padding: 0 5px 0 5px;
    border-radius: 30%;
    text-align: center;
  }

  .shadow-text-darker {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background: rgba(150, 150, 150, 0.80);
    padding: 0 5px 0 5px;
    border-radius: 30%;
    text-align: center;
  }

  .shadow-text-no-border {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background: rgba(150, 150, 150, 0.40);
    padding: 0 5px 0 5px;
    text-align: center;
  }

  .simple-a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .deck-manager-commander-viewer {
    background: #ddd;
  }

  .game-data-wrapper .game-data-player-list-container {
    background: #ddd;
  }

  .game-data-wrapper .game-data-log-container {
    background: #ddd;
  }
}

//@include mat.all-component-themes($fddp-theme-dark);

/*
------------ Variables ------------
 */
$mtg-white: #aeaeae;
$mtg-blue: #0069c0;
$mtg-black: #373737;
$mtg-red: #ba000d;
$mtg-green: #087f23;

/*
------------ Universals ------------
 */

p, h1, h2, h3, h4, h5, h6 {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
}

.invert {
  rotate: 180deg;
}

.grayscale {
  filter: grayscale(100%);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  @include mat.elevation-transition();
  @include mat.elevation(6);
  z-index: 9000 !important;
}

.star { //for ngb-rating
  font-size: 1.5rem;
  color: rgba(mat.get-color-from-palette($fddp-palette-primary-dark, 500), 0.4);
}

.filled { //also for ngb-rating
  color: mat.get-color-from-palette($fddp-palette-primary-dark, 500);
}

.fddp-nav-button {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -30px;
  position: fixed;
  z-index: 5000;
  opacity: 0.7;
}

.fddp-nav-button:hover {
  opacity: 1;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}


.ng-scrollbar-thumb {
  background-color: rgba(mat.get-color-from-palette($fddp-palette-primary-dark, 500), 0.9) !important;
}

.ng-scrollbar-track {
  background-color: rgba(black, 0.6) !important;
}


/*****************************************
      Profile-Component
 *****************************************/

.playmat-preview-image {
  //width: 1144px;
  //height: 409px;
  width: 572px;
  height: 204px;
  opacity: 1.0;
  pointer-events: none;
}

.playmat-preview-blank {
  box-shadow: inset 0 0 4px 2px white;
}

.profile-edit-control {
  width: 180px;
}

/*****************************************
      Custom-Image-Manager-Component
 *****************************************/

.custom-image-card-holder {
  position: relative;
  max-width: 254px;
  max-height: 455px;
  min-width: 254px;
  min-height: 355px;
  margin-bottom: 100px;
}

.custom-image-card-holder .custom-image-card-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  display: none;
}

.custom-image-card-holder .custom-image-card-image-button {
  position: absolute;
  bottom: 25%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  display: none;
}

.custom-image-card-holder .custom-image-card {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 254px;
  max-height: 355px;
  min-width: 254px;
  min-height: 355px;
  width: 254px;
  height: 355px;
  border-radius: 12px;
  z-index: 1;
}

.custom-image-card-holder:hover .custom-image-card {
  opacity: 0.5;
}

.custom-image-card-holder:hover .custom-image-card-delete,
.custom-image-card-holder:hover .custom-image-card-image-button {
  display: block;
}

.custom-image-card-name {
  position: absolute;
  top: 355px;
  left: 0;
  max-height: 100px;
  min-width: 254px;
  max-width: 254px;
  text-align: center;
}

/*****************************************
         Custom-Images-Component
 *****************************************/

.custom-images-card-preview {
  max-width: 254px;
  max-height: 355px;
  min-width: 254px;
  min-height: 355px;
  border-radius: 12px;
  border: dotted #ccc 2px;
}

.custom-images-card {
  max-width: 254px;
  max-height: 355px;
  min-width: 254px;
  min-height: 355px;
  border-radius: 12px;
}


/*****************************************
         Deck-Edit-Component
 *****************************************/

.deck-edit-input-holder {
  min-width: 350px;
}

.deck-edit-image {
  background: black;
  max-width: 254px;
  max-height: 355px;
  min-width: 254px;
  min-height: 355px;
  border-radius: 12px;
}

.deck-edit-preview {
  min-width: 75px;
  min-height: 105px;
  max-width: 75px;
  max-height: 105px;
  border-radius: 5px;
}

.deck-edit-card-list {
  min-width: 600px;
  overflow-y: scroll;
}

.deck-edit-card-list-commander {
  background: mat.get-color-from-palette($fddp-palette-primary-dark, 500);
}

.deck-edit-card-display {
  min-height: 48px;
}

.deck-edit-card-select {
  min-width: 150px;
  max-width: 150px;
  min-height: 210px;
  max-height: 210px;
  border-radius: 7px;
  cursor: pointer;
}


/*****************************************
         Deck-Manager-Component
 *****************************************/

.deck-manager-options-button {
  top: 5%;
  right: -30px;
  position: fixed;
  z-index: 5000;
  opacity: 0.7;
}

.deck-manager-options-button:hover {
  opacity: 1;
}

.deck-manager-commander-viewer-holder {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  width: 300px;
  text-align: center;
  height: 372px;
}

.deck-manager-commander-viewer__front {
  transform: rotateY(0deg);
}

.deck-manager-commander-viewer__back {
  transform: rotateY(-180deg);
}


.deck-manager-commander-viewer-holder .deck-manager-commander-viewer {
  font-family: Beleren, "Helvetica Neue", sans-serif;
  float: left;
  overflow: hidden;
  text-align: center;
  border: none;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  @include mat.elevation(4);
}

.deck-manager-commander-viewer .deck-manager-background-card-closed {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 300px;
  height: 200px;
  overflow: hidden;
  z-index: 5;
}

deck-manager-commander-viewer .deck-manager-background-card-open {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 300px;
  height: 200px;
  overflow: hidden;
  background-color: black;
  z-index: 5;
}

.deck-manager-commander-viewer .deck-manager-commander-crop,
.deck-manager-commander-viewer .deck-manager-commander-crop-no-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 560px;
  width: 360px;
  margin-left: -30px;
  margin-top: -70px;
  opacity: 0.9;
  background-color: black;
  z-index: 1;
}

.deck-manager-commander-viewer .deck-manager-background-card-open:hover .deck-manager-commander-crop {
  filter: grayscale(100%);
}

.deck-manager-commander-viewer .deck-manager-background-card-open .deck-manager-commander-edit,
.deck-manager-commander-viewer .deck-manager-background-card-closed .deck-manager-commander-edit {
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
  opacity: 0.8;
  z-index: 30;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  display: block;
}

.deck-manager-commander-viewer .deck-manager-background-card-open:hover .deck-manager-commander-edit {
  display: block;
}

.deck-manager-commander-viewer .deck-manager-content {
  position: absolute;
  height: 100%;
  width: 100%;
  float: left;
  left: 0;
  top: 0;
  z-index: 2;
}

.deck-manager-commander-viewer .deck-manager-content-holder {
  position: absolute;
  height: 162px;
  width: 300px;
  top: 210px;
  left: 0;
  z-index: 2;
}

.deck-manager-commander-viewer .deck-manager-commander-name {
  margin-top:-10px !important;
  opacity: 0.7;
}

.deck-manager-commander-colors {
  position: absolute;
  height: 16px;
  width: 100%;
  bottom: 10px;
  left: 0;
}

.deck-manager-commander-viewer .deck-manager-commander-colors .deck-manager-commander-color {
  height: 16px;
  width: 16px;
  margin: 0 2px 0 2px;
  border-radius: 50%;
  @include mat.elevation(2);
}

.deck-manager-commander-viewer .deck-manager-commander-legality {
  position: absolute;
  height: 16px;
  width: 100%;
  bottom: 10px;
  left: 0;
  padding-right: 10px;
}

.deck-manager-commander-viewer .deck-manager-commander-ratings-holder {
  position: absolute;
  pointer-events: none;
  width: 100%;
  top: 167px;
  left: 0;
  z-index: 10;
  transform: rotate(-7.5deg);
}

.deck-manager-commander-ratings-holder .deck-manager-commander-rating {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}



/*****************************************
         Game-Manager-Component
 *****************************************/

.game-manager-game-create {
  font-family: Beleren, "Helvetica Neue", sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 400px;
  text-align: center;
  min-height: 350px;
  border: none;
}

.game-manager-game-viewer {
  font-family: Beleren, "Helvetica Neue", sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 400px;
  text-align: center;
  min-height: 300px;
  border: none;
}

.game-manager-game-viewer .game-manager-content, .game-manager-game-create .game-manager-content {
  position: absolute;
  height: 100%;
  width: 100%;
  float: left;
  left: 0;
  top: 0;
}



/*****************************************
         Game-Handler-Component
 *****************************************/

/*
------------ Game Timer ------------
 */

.game-timer-total {
  width: 500px;
  height: 64px;
  position: fixed;
  bottom: 600px;
  left: 10px;
  z-index: 65;
}

/*
------------ Opponent Playmat ------------
 */

//Opponent Playmat Display
.playmat-opponent-view-container {
  width: 100vw;
  height: calc(100vh - (634px + 10px));
  position: fixed;
  bottom: 634px;
  left: 0;
  z-index: 3;
}

.playmat-opponent-view-container-mini {
  width: 100vw;
  height: calc(100vh - (334px + 5px));
  position: fixed;
  bottom: 334px;
  left: 0;
  z-index: 3;
}

.playmat-opponent-wrapper {
  position: relative;
  width: 604px;
  height: 214px;
  overflow: visible;
  max-width: 604px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  z-index: 2;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
}

.playmat-opponent {
  position: absolute;
  top: 0;
  left: 0;
  width: 604px;
  height: 214px;
  padding: 0 !important;
  margin: auto;
  z-index: 3;

}

.playmat-opponent-wrapper .playmat-opponent-player-information {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2px 10px 0 10px;
  z-index: 50;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.playmat-opponent-wrapper .playmat-opponent-alliance-information {
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 0;
  margin: 0;
  padding: 2px 10px 0 10px;
  z-index: 50;
}

.playmat-opponent-wrapper .playmat-opponent-status-wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 50;
  bottom: 10px;
  right: 10px;
  height: 32px;
}

.playmat-opponent-status {
  pointer-events: none;
  height: 32px;
  width: 32x;
  filter: invert(1) drop-shadow(0 0 10px #000);
}

.playmat-opponent-ally {
  color: $mtg-green;
}

.playmat-opponent-enemy {
  color: $mtg-red;
}

.playmat-opponent-wrapper:hover .playmat-opponent-player-information,
.playmat-opponent-wrapper:hover .playmat-opponent-alliance-information,
.playmat-opponent-wrapper:hover .playmat-opponent-status {
  opacity: 0.2;
}

.playmat-opponent-selected {
  border: solid 2px mat.get-color-from-palette($fddp-palette-primary-dark, 200);
  border-radius: 5px;
  box-shadow: inset 0 0 4px 2px mat.get-color-from-palette($fddp-palette-primary-dark, 200);
}

.playmat-opponent-turn {
  border: solid 2px mat.get-color-from-palette($fddp-palette-accent-dark, 200);
  border-radius: 5px;
  box-shadow: inset 0 0 4px 2px mat.get-color-from-palette($fddp-palette-accent-dark, 200);
}


//Player List And Log (Game Data)
.game-data-container {
  position: fixed;
  bottom: 210px;
  left: 10px;
  height: 409px;
  //width: calc((100vw - (1284px + 50px)) / 2);
  width: 293px;
  z-index: 3;
  border-radius: 10px;
  pointer-events: all;
}

.game-data-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  border-radius: 10px;
  @include mat.elevation(3);
}

.star-player-text-outline-W {
  //text-shadow: -1px -1px 0 $mtg-white, 1px -1px 0 $mtg-white, -1px 1px 0 $mtg-white, 1px 1px 0 $mtg-white;
  background: rgba($mtg-white, 0.3);
}
.star-player-text-outline-U {
  //text-shadow: -1px -1px 0 $mtg-blue, 1px -1px 0 $mtg-blue, -1px 1px 0 $mtg-blue, 1px 1px 0 $mtg-blue;
  background: rgba($mtg-blue, 0.3);
}
.star-player-text-outline-B {
  //text-shadow: -1px -1px 0 $mtg-black, 1px -1px 0 $mtg-black, -1px 1px 0 $mtg-black, 1px 1px 0 $mtg-black;
  background: rgba($mtg-black, 0.3);
}
.star-player-text-outline-R {
  //text-shadow: -1px -1px 0 $mtg-red, 1px -1px 0 $mtg-red, -1px 1px 0 $mtg-red, 1px 1px 0 $mtg-red;
  background: rgba($mtg-red, 0.3);
}
.star-player-text-outline-G {
  //text-shadow: -1px -1px 0 $mtg-green, 1px -1px 0 $mtg-green, -1px 1px 0 $mtg-green, 1px 1px 0 $mtg-green;
  background: rgba($mtg-green, 0.3);
}

.game-data-wrapper .game-data-player-list-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border: solid 2px #666;
  z-index: 3;
  overflow: hidden
}

.game-data-player-list-item {
  border-bottom: solid 2px #666;
  margin: 0;
  height: 40px;
  max-height: 40px;
  width: 100%;
}

.game-data-player-list-item-turn {
  background: mat.get-color-from-palette($fddp-palette-accent-dark, 500);
}

.game-data-player-list-item-selected {
  background: mat.get-color-from-palette($fddp-palette-primary-dark, 500);
}

.game-data-player-list-item-kick {
  background: mat.get-color-from-palette(mat.$red-palette, 500);
}

.game-data-player-list-name {
  width: 132px;
  overflow-x: hidden !important;
  margin: 0 2px 0 2px !important;
}

.game-data-player-list-name-two-headed {
  width: 66px;
  overflow-x: hidden !important;
  margin: 0 2px 0 2px !important;
}

.game-data-player-list-counter {
  width: 22px;
  max-width: 22px !important;
  margin: 0 2px 0 2px !important;
  padding: 0;
}

.game-data-wrapper .game-data-log-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  border: solid 2px #444;
  z-index: 3;
}

.game-data-log-list-item {
  margin-top: 5px;
  border-bottom: solid 2px #444;
  height: auto !important;
  width: 100%;
  overflow: hidden;
}

.game-data-log-list-icon {
  height: 16px;
  width: 16px;
  margin-left: 5px;
  margin-right: 10px;
}

//Global Playmat
.playmat-gridlines {
  box-shadow:inset 0px 0px 0px 2px rgba(gray, 0.3);
}

//Outer Playmat Containers
.playmat-user-container {
  width: 100vw;
  height: 409px;
  position: fixed;
  bottom: 215px;
  left: 0;
  z-index: 3;
  pointer-events: none;
  overflow: visible;
}

.playmat-user-container-mini {
  width: 100vw;
  height: 214px;
  position: fixed;
  bottom: 105px;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.playmat-user-wrapper {
  position: relative;
  width: 1284px;
  height: 409px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
  pointer-events: none;
}

.playmat-user-wrapper-mini {
  position: relative;
  width: 684px;
  height: 214px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
  pointer-events: none;
}

//Devotion data on the left of playmat
.playmat-user-devotion-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 409px;
  overflow: visible;
}

.playmat-user-devotion-container-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 214px;
  overflow: visible;
}

.playmat-user-actions-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 409px;
  overflow: visible;
  pointer-events: none;
}

.playmat-user-actions-container-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 214px;
  overflow: visible;
}

.playmat-user-devotion-wrapper {
  pointer-events: all;
}

.playmat-user-actions-wrapper {
  pointer-events: all;
}

.playmat-user-actions-wrapper .playmat-user-actions-white {
  background: $mtg-white !important;
}

.playmat-user-actions-wrapper .playmat-user-actions-blue {
  background: $mtg-blue !important;
}

.playmat-user-actions-wrapper .playmat-user-actions-black {
  background: $mtg-black !important;
}

.playmat-user-actions-wrapper .playmat-user-actions-red {
  background: $mtg-red !important;
}

.playmat-user-actions-wrapper .playmat-user-actions-green {
  background: $mtg-green !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-W {
  background: $mtg-white !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-U {
  background: $mtg-blue !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-B {
  background: $mtg-black !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-R {
  background: $mtg-red !important;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-G {
  background: $mtg-green !important;
}

.playmat-user-devotion-mini {
  max-width: 36px;
  max-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//User Playmat
.playmat-user {
  position: absolute;
  top: 0;
  left: 70px;
  width: 1144px;
  height: 409px;
  padding: 0 !important;
  margin: 4px 0 0 0;
  background: rgba(black, 0.2);
  @include mat.elevation(5);
}

.playmat-user-mini {
  position: absolute;
  top: 0;
  left: 40px;
  width: 604px;
  height: 214px;
  padding: 0 !important;
  margin: 4px 0 0 0;
}

.playmat-user-background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 1144px;
  height: 409px;
  opacity: 0.7;
  pointer-events: none;
}

.playmat-user-status-wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 50;
  bottom: 5px;
  right: 5px;
  height: 64px;
}

.playmat-user-status {
  pointer-events: none;
  height: 64px;
  width: 64x;
  filter: invert(1) drop-shadow(0 0 20px #000);
}

.playmat-user-time-status-wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 50;
  top: 15px;
  right: 20px;
  height: 64px;
}

.playmat-user-background-image-mini {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 604px;
  height: 214px;
  opacity: 0.7;
  pointer-events: none;
}

.playmat-user-spot-container {
  position: relative;
  float: left;
  width: 95px;
  height: 135px;
  pointer-events: all;
}

.playmat-user-spot-container .stack-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.playmat-user-spot-container .stack-2 {
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 12;
}

.playmat-user-spot-container .stack-3 {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 22;
}

.playmat-user-spot-container .stack-4 {
  position: absolute;
  display: hidden;
  pointer-events: none;
}

.playmat-user-spot-container .spot-counter {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 32;
}

.playmat-user-spot-container-mini {
  position: relative;
  float: left;
  width: 50px;
  height: 70px;
  //box-shadow:inset 0px 0px 0px 2px gray;
  margin: auto;
  pointer-events: all;
}

.playmat-user-spot-container-mini .stack-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.playmat-user-spot-container-mini .stack-2 {
  position: absolute;
  top: 7px;
  left: 5px;
  z-index: 12;
}

.playmat-user-spot-container-mini .stack-3 {
  position: absolute;
  top: 14px;
  left: 10px;
  z-index: 22;
}

.playmat-user-spot-container-mini .stack-4 {
  position: absolute;
  display: hidden;
  pointer-events: none;
}

.playmat-user-spot-container-mini .spot-counter {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 32;
}

.stack-1:hover,
.stack-2:hover,
.stack-3:hover {
  z-index: 30;
}


.playmat-user-card-container {
  position: relative;
  min-width: 75px;
  min-height: 105px;
  max-width: 75px;
  max-height: 105px;
  border-radius: 5px;
  margin: 0;
  background-color: mat.get-color-from-palette($fddp-palette-primary-dark, 200);
  @include mat.elevation(2);
}

.playmat-user-card-container-mini {
  position: relative;
  width: 40px;
  height: 56px;
  border-radius: 3px;
  margin: 0;
  background-color: mat.get-color-from-palette($fddp-palette-primary-dark, 200);
  @include mat.elevation(2);
}

.playmat-user-card-container .playmat-user-card-lock,
.playmat-user-card-container-mini .playmat-user-card-lock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.playmat-user-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 105px;
  border-radius: 5px;
}

.playmat-user-card-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 56px;
  border-radius: 3px;
}

.playmat-user-card-selected {
  clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
}

.playmat-user-card-container .playmat-user-card-counter {
  min-height: 28px;
  max-height: 28px;
  min-width: 28px;
  max-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playmat-user-card-container .playmat-user-card-counter p {
  margin-top: 10px;
}

.playmat-user-card-container-mini .playmat-user-card-counter {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playmat-user-card-container .playmat-user-card-counter-1 {
  position: absolute;
  bottom: 20px;
  left: 7px;
}

.playmat-user-card-container-mini .playmat-user-card-counter-1 {
  position: absolute;
  bottom: 20px;
  left: 2px;
}

.playmat-user-card-container .playmat-user-card-counter-2 {
  position: absolute;
  bottom: 20px;
  right: 7px;
}

.playmat-user-card-container-mini .playmat-user-card-counter-2 {
  position: absolute;
  bottom: 20px;
  right: 2px;
}

.playmat-user-card-container .playmat-user-card-counter-3 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.playmat-user-card-container-mini .playmat-user-card-counter-3 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.playmat-user-card-container .playmat-user-card-multiplier {
  position: absolute;
  top: -10px;
  right: -10px;
}

.playmat-user-card-container-mini .playmat-user-card-multiplier {
  position: absolute;
  top: -5px;
  right: -5px;
}

.playmat-user-card-container-mini .playmat-user-card-counter p {
  margin-top: 11px;
}

.playmat-user-card-container .playmat-user-card-pow-tough {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin: 0;
}

.playmat-user-card-container-mini .playmat-user-card-pow-tough {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  right: 1px;
  margin: 0;
}

.playmat-user-card-container .playmat-user-card-loyalty {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
}

.playmat-user-card-container-mini .playmat-user-card-loyalty {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
}

.playmat-user-card-container .playmat-user-card-defense {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
}

.playmat-user-card-container-mini .playmat-user-card-defense {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
}

.playmat-user-card-modifier-up {
  color: $mtg-green !important;
}
.playmat-user-card-modifier-down {
  color: $mtg-red !important;
}


//Magnifier Data
.magnifier-data-container {
  position: fixed;
  bottom: 215px;
  right: 10px;
  height: 409px;
  //width: calc((100vw - (1284px + 50px)) / 2);
  width: 293px;
  z-index: 50;
  border-radius: 10px;
  pointer-events: none;
}

.magnifier-data-wrapper {
  position: relative;
  height: 409px;
  width: 293px;
  background: rgba(black, 0.2);
  border-radius: 10px;
  @include mat.elevation(6);
}

.magnifier-data-card-image {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.magnifier-data-wrapper .magnifier-data-card-image-partner-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 369px;
  width: 253px;
  border-radius: 10px;
  z-index: 20;
}

.magnifier-data-wrapper .magnifier-data-card-image-partner-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 369px;
  width: 253px;
  border-radius: 10px;
  z-index: 10;
}

.magnifier-data-wrapper .magnifier-data-card-notes {
  position: absolute;
  top: 48px;
  left: 0;
  height: 180px;
  width: 293px;
  overflow: hidden;
  z-index: 30;
}

.magnifier-data-commander-counter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 64px;
  height: 64px;
  opacity: 0.7;
  z-index: 30;
}

.magnifier-data-commander-counter-2 {
  position: absolute;
  bottom: 10px;
  left: 75px;
  width: 64px;
  height: 64px;
  opacity: 0.7;
  z-index: 30;
}

.zone-card-image {
  width: 75px;
  height: 105px;
  border-radius: 5px;
}

.zone-card-image-mini {
  width: 40px;
  height: 56px;
  border-radius: 3px;
}

//Selected Player Deck
.deck-selected-player-container {
  position: fixed;
  bottom: 125px;
  right: 10px;
  height: 105px;
  width: 75px;
  z-index: 3;
}

//User Deck
.deck-user-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 105px;
  width: 75px;
  z-index: 3;
}

.deck-user-container-mini {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 56px;
  width: 40px;
  z-index: 3;
}

.deck-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  @include mat.elevation(5);
  overflow: hidden;
}

.deck-user-wrapper .deck-user-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 2;
  margin-bottom: 0;
  pointer-events: none;
}

.deck-user-wrapper .deck-user-owner-text {
  position: absolute;
  top: 2px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

//User Grave
.grave-user-container {
  position: fixed;
  bottom: 10px;
  right: 95px;
  height: 105px;
  width: 75px;
  z-index: 3;
}

.grave-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
  overflow: hidden;
}

.grave-user-wrapper .grave-user-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 2;
  margin-bottom: 0;
  pointer-events: none;
}

.grave-user-wrapper .grave-user-title-text {
  position: absolute;
  top: 2px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

//User Exile
.exile-user-container {
  position: fixed;
  bottom: 10px;
  right: 180px;
  height: 105px;
  width: 75px;
  z-index: 3;
}

.exile-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
  overflow: hidden;
}

.exile-user-wrapper .exile-user-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 2;
  margin-bottom: 0;
  pointer-events: none;
}

.exile-user-wrapper .exile-user-title-text {
  position: absolute;
  top: 2px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

//User Stickers
.sticker-user-container-1 {
  position: fixed;
  bottom: 125px;
  left: 10px;
  height: 56px;
  width: 40px;
  z-index: 3;
}

.sticker-user-wrapper-1 {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
  overflow: hidden;
}

.sticker-user-container-2 {
  position: fixed;
  bottom: 125px;
  left: 55px;
  height: 56px;
  width: 40px;
  z-index: 3;
}

.sticker-user-wrapper-2 {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
  overflow: hidden;
}

.sticker-user-container-3 {
  position: fixed;
  bottom: 125px;
  left: 100px;
  height: 56px;
  width: 40px;
  z-index: 3;
}

.sticker-user-wrapper-3 {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
  overflow: hidden;
}

//User Temp Zone
.temp-zone-user-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 105px;
  width: 75px;
  z-index: 3;
}

.temp-zone-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
  overflow: hidden;
}

.temp-zone-user-wrapper .temp-zone-user-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 2;
  margin-bottom: 0;
  pointer-events: none;
}

.temp-zone-user-wrapper .temp-zone-user-title-text {
  position: absolute;
  top: 2px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

//Planes
.planes-container {
  position: fixed;
  bottom: 10px;
  left: 95px;
  height: 105px;
  width: 147px;
  z-index: 3;
}

.planes-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
  overflow: hidden;
}

.planes-wrapper .planes-title-text {
  position: absolute;
  top: 2px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.zone-plane-image {
  height: 147px;
  width: 105px;
  border-radius: 5px;
  rotate: 90deg;
  transform: translateX(-20px) translateY(-20px);
}

//User Command Zone
.commander-user-container {
  position: fixed;
  bottom: 10px;
  right: 265px;
  height: 105px;
  width: 75px;
  z-index: 5;
}

.commander-user-container-mini {
  position: fixed;
  bottom: 5px;
  left: 5px;
  height: 56px;
  width: 40px;
  z-index: 3;
}

.commander-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.2);
  @include mat.elevation(3);
}

.commander-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 105px;
  border-radius: 5px;
  z-index: 1;
}

.commander-card-image-partner-1 {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 65px;
  min-height: 95px;
  max-width: 65px;
  max-height: 95px;
  border-radius: 5px;
  display: block;
  z-index: 11;
}

.commander-card-image-partner-2 {
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 65px;
  min-height: 95px;
  max-width: 65px;
  max-height: 95px;
  border-radius: 5px;
  display: block;
  z-index: 12;
}

.commander-card-image-partner-1:hover, .commander-card-image-partner-2:hover {
  z-index: 13;
}

.commander-user-wrapper .command-tax-button-1 {
  position: absolute;
  bottom: -9px;
  left: -9px;
  transform: scale(0.6) !important;
  z-index: 20;
}

.commander-user-wrapper .command-tax-button-1-mini {
  position: absolute;
  top: -50px;
  left: -15px;
  transform: scale(0.6) !important;
  z-index: 20;
}

.commander-user-wrapper .command-tax-button-2 {
  position: absolute;
  bottom: -9px;
  right: -9px;
  transform: scale(0.6) !important;
  z-index: 20;
  pointer-events: all;
}
.commander-user-wrapper .command-tax-button-2-mini {
  position: absolute;
  top: -50px;
  right: -40px;
  transform: scale(0.6) !important;
  z-index: 20;
  pointer-events: all;
}

//Selected Hand
.hand-selected-container {
  width: 100vw;
  height: 56px;
  position: fixed;
  bottom: 125px;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.hand-selected-wrapper {
  position: relative;
  min-width: 40px;
  height: 56px;
  overflow: visible;
  margin: auto;
  z-index: 2;
  pointer-events: all;
  border-radius: 5px;
  background: rgba(black, 0.2);
  @include mat.elevation(8);
}

.hand-selected-wrapper .hand-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 3;
  margin-bottom: 0;
  pointer-events: none;
}

.hand-selected-droplist-wrapper {
  position: relative;
  min-width: 40px;
  height: 56px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
}



//User Hand
.hand-user-container {
  width: 100vw;
  height: 105px;
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.hand-user-container-mini {
  width: 100vw;
  height: 56px;
  position: fixed;
  bottom: 5px;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.hand-user-wrapper {
  position: relative;
  min-width: 75px;
  height: 105px;
  overflow: visible;
  margin: auto;
  z-index: 2;
  pointer-events: all;
  border-radius: 5px;
  background: rgba(black, 0.2);
  @include mat.elevation(8);
}

.hand-user-wrapper-mini {
  position: relative;
  width: calc(100vw - 100px);
  height: 56px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
  pointer-events: all;
}

.hand-user-wrapper .hand-quantity-text, .hand-user-wrapper-mini .hand-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 3;
  margin-bottom: 0;
  pointer-events: none;
}

.hand-user-wrapper .hand-menu {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-user-droplist-wrapper {
  position: relative;
  min-width: 75px;
  height: 105px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
}

.hand-user-droplist-wrapper-mini {
  position: relative;
  min-width: 40px;
  height: 56px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
}

//Sidenav
.sidenav-list {
  border-top: solid 1px #ccc;
  min-width: 500px;
  max-width: 100%;
  display: block;
  min-height: 60px;
}

.sidenav-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.sidenav-list-item-shared {
  background: #777777;
  cursor: default;
}

.sidenav-list-item.cdk-drag-disabled {
  background: #222;
  cursor: default;
}

.sidenav-player-select {
  min-height: 64px;
}

//Counters
.counter-creator {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 55;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.counter-creator .counter-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.counter-container .counter-creator-button {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: all;
}

.commander-dashboard-custom-counter {
  position: relative;
  display: block;
  float: left;
  max-width: 225px;
  min-width: 225px;
  min-height: 165px;
  max-height: 165px;
  pointer-events: all;
}

.commander-dashboard-custom-counter .custom-counter-close {
  position: absolute;
  top: 0;
  right: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.commander-dashboard-input {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.commander-dashboard-select {
  max-width: 100px;
  min-width: 100px;
  max-height: 50px;
  min-height: 50px;
}

.commander-dashboard-select-holder {
  position: absolute;
  bottom: 60px;
  left: 5px;
}

.commander-dashboard-text {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

commander-dashboard-select-zone {
  position: absolute;
  bottom: 10px;
  left: 150px;
}

/*****************************************
          Game-Handler-Addons
 *****************************************/

.two-headed-container {
  width: 250px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.two-headed-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.two-headed-box-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.two-headed-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.star-box-W {
  background: $mtg-white;
}

.star-box-U {
  background: $mtg-blue;
}

.star-box-B {
  background: $mtg-black;
  color: white !important;
}

.star-box-R {
  background: $mtg-red !important;
}

.star-box-G {
  background: $mtg-green;
}

.game-handler-deck-select-highlight {
  border: solid 4px mat.get-color-from-palette($fddp-palette-accent-dark, 200);
  opacity: 70%;
}
/*****************************************
          Game-Manager-Component
 *****************************************/

.game-manager-game-viewer {
  font-family: Beleren, "Helvetica Neue", sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 400px;
  text-align: center;
  height: 300px;
  border: none;
}

.game-manager-game-viewer .game-manager-content {
  position: absolute;
  height: 100%;
  width: 100%;
  float: left;
  left: 0;
  top: 0;
}


/*****************************************
      Commander-Generator-Component
 *****************************************/

.commander-generator-card {
  max-width: 800px;
}

.commander-generator-checkbox {
  margin: 0 12px;
}

.commander-generator-card-holder {
  position: relative;
  max-width: 200px;
  max-height: 320px;
  min-width: 200px;
  min-height: 279px;
  margin-bottom: 100px;
}

.commander-generator-card-holder .commander-generator-card {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 200px;
  max-height: 279px;
  min-width: 200px;
  min-height: 279px;
  width: 200px;
  height: 279px;
  border-radius: 12px;
  z-index: 1;
}

.commander-generator-card-holder .commander-generator-card-partner-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 251px;
  border-radius: 11px;
  z-index: 1;
}

.commander-generator-card-holder .commander-generator-card-partner-2 {
  position: absolute;
  top: 28px;
  left: 20px;
  width: 180px;
  height: 251px;
  border-radius: 11px;
  z-index: 5;
}

.commander-generator-card-holder .commander-generator-card-partner-1:hover {
  z-index: 10;
}

.commander-generator-card-holder .commander-generator-card-name {
  position: absolute;
  top: 285px;
  left: 0;
  max-height: 70px;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
}

.commander-generator-theme-holder {
  position: relative;
  max-width: 400px;
  max-height: 279px;
  min-width: 200px;
  min-height: 279px;
  margin-bottom: 100px;
}
