@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat.core();

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'src/dark-theme';
@import 'src/light-theme';

.dark-theme {
  @include mat.all-component-themes($fddp-theme-dark);

  .dropdown-menu {
    background-color: rgb(66, 66, 66) !important;
  }

  .dropdown-item {
    color: white;
  }
}

.light-theme {
  @include mat.all-component-themes($fddp-theme-light)
}

@include mat.all-component-themes($fddp-theme-dark);

/*
------------ Variables ------------
 */
$mtg-white: #aeaeae;
$mtg-blue: #0069c0;
$mtg-black: #373737;
$mtg-red: #ba000d;
$mtg-green: #087f23;

/*
------------ Universals ------------
 */

p, h1, h2, h3, h4, h5, h6 {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
}

.invert {
  rotate: 180deg;
}

.grayscale {
  filter: grayscale(100%);
}

.shadow-text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: rgba(0, 0, 0, 0.40);
  padding: 0 5px 0 5px;
  border-radius: 40%;
  text-align: center;
}

.simple-a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/*
------------ User Playmat ------------
 */

//Outer Playmat Containers
.playmat-user-container {
  width: 100vw;
  height: 409px;
  position: fixed;
  bottom: 215px;
  left: 0;
}

.playmat-user-container-mini {
  width: 100vw;
  height: 214px;
  position: fixed;
  bottom: 105px;
  left: 0;
}

.playmat-user-wrapper {
  position: relative;
  width: 1284px;
  height: 409px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
}

.playmat-user-wrapper-mini {
  position: relative;
  width: 684px;
  height: 214px;
  overflow: visible;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: auto;
  z-index: 2;
}

//Devotion data on the left of playmat
.playmat-user-devotion-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 409px;
  overflow: visible;
}

.playmat-user-devotion-container-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 214px;
  overflow: visible;
}

.playmat-user-teammate-actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 409px;
  overflow: visible;
}

.playmat-user-devotion-teammate-actions-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 214px;
  overflow: visible;
}

.playmat-user-devotion-wrapper {}

.playmat-user-devotion-wrapper .playmat-user-devotion-W {
  background: $mtg-white;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-U {
  background: $mtg-blue;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-B {
  background: $mtg-black;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-R {
  background: $mtg-red;
}

.playmat-user-devotion-wrapper .playmat-user-devotion-G {
  background: $mtg-green;
}

.playmat-user-devotion-mini {
  max-width: 36px;
  max-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//User Playmat
.playmat-user {
  position: absolute;
  top: 0;
  left: 70px;
  width: 1144px;
  height: 409px;
  padding: 0 !important;
  margin: 0;
}

.playmat-user-mini {
  position: absolute;
  top: 0;
  left: 40px;
  width: 604px;
  height: 214px;
  padding: 0 !important;
  margin: 0;
}

.playmat-user-background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 1144px;
  height: 409px;
  opacity: 0.7;
  pointer-events: none;
}

.playmat-user-background-image-mini {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 604px;
  height: 214px;
  opacity: 0.7;
  pointer-events: none;
}

.playmat-user-spot-container {
  position: relative;
  float: left;
  width: 95px;
  height: 135px;
  box-shadow:inset 0px 0px 0px 2px gray;
}

.playmat-user-spot-container-mini {
  position: relative;
  float: left;
  width: 50px;
  height: 70px;
  box-shadow:inset 0px 0px 0px 2px gray;
}

.playmat-user-card-container {
  position: relative;
  width: 75px;
  height: 105px;
  border-radius: 5px;
  margin: 0;
  background-color: mat.get-color-from-palette($fddp-palette-primary-dark, 200);
  @include mat.elevation(2);
}

.playmat-user-card-container-mini {
  position: relative;
  width: 40px;
  height: 56px;
  border-radius: 3px;
  margin: 0;
  background-color: mat.get-color-from-palette($fddp-palette-primary-dark, 200);
  @include mat.elevation(2);
}

.playmat-user-card-container .playmat-user-card-lock,
.playmat-user-card-container-mini .plamat-user-card-lock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.playmat-user-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 105px;
  border-radius: 5px;
}

.playmat-user-card-mini {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 56px;
  border-radius: 3px;
}

.playmat-user-card-selected {
  clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
}

.playmat-user-card-container .playmat-user-card-counter {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playmat-user-card-container-mini .playmat-user-card-counter {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playmat-user-card-container .playmat-user-card-counter-1 {
  position: absolute;
  bottom: 20px;
  left: 7px;
}

.playmat-user-card-container-mini .playmat-user-card-counter-1 {
  position: absolute;
  bottom: 20px;
  left: 2px;
}

.playmat-user-card-container .playmat-user-card-counter-2 {
  position: absolute;
  bottom: 20px;
  right: 7px;
}

.playmat-user-card-container-mini .playmat-user-card-counter-2 {
  position: absolute;
  bottom: 20px;
  right: 2px;
}

.playmat-user-card-container .playmat-user-card-counter-3 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.playmat-user-card-container-mini .playmat-user-card-counter-3 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.playmat-user-card-container .playmat-user-card-multiplier {
  position: absolute;
  top: -10px;
  right: -10px;
}

.playmat-user-card-container-mini .playmat-user-card-multiplier {
  position: absolute;
  top: -10px;
  right: -10px;
}

.playmat-user-card-container .playmat-user-card-pow-tough {
  font-family: Beleren, "Helvetica Neue", sans-serif !important;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin: 0;
}

.playmat-user-card-modifier-up {
  color: $mtg-green;
}
.playmat-user-card-modifier-down {
  color: $mtg-red;
}

.zone-card-image {
  width: 75px;
  height: 105px;
  border-radius: 5px;
}

.zone-card-image-mini {
  width: 40px;
  height: 56px;
  border-radius: 3px;
}

//User Deck
.deck-user-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 105px;
  width: 75px;
}

.deck-user-container-mini {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 56px;
  width: 40px;
}

.deck-user-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.deck-user-wrapper .deck-quantity-text {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 2;
  margin-bottom: 0;
  pointer-events: none;
}

.deck-user-wrapper .deck-owner-text {
  position: absolute;
  top: 2px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
  pointer-events: none;
}
